html {
      background:darkgrey;
}

body {
    background-color:lightgray;
}

#app {
    height:100%;
    background:darkgrey;
}

/* #root { */
/*     font-family: system-ui; */
/*     height:100%; */
/*     padding:5px; */
/* } */

/* #top { */
/*     /\* display: flex; *\/ */
/*     /\* height: 98vh; *\/ */
/* } */

#projects {
    background:lightgrey;
}

#projects label{
    font-weight:500;
    margin: 0px 0px 0px 3px;
}

::-webkit-scrollbar {
    width:0px;
}
