html {
      background:darkgrey;
}

body {
    background-color:lightgray;
}

#app {
    height:100%;
    background:darkgrey;
}

/* #root { */
/*     font-family: system-ui; */
/*     height:100%; */
/*     padding:5px; */
/* } */

/* #top { */
/*     /\* display: flex; *\/ */
/*     /\* height: 98vh; *\/ */
/* } */

#projects {
    background:lightgrey;
}

#projects label{
    font-weight:500;
    margin: 0px 0px 0px 3px;
}

::-webkit-scrollbar {
    width:0px;
}

.nav-tabs > li{
    margin-bottom: 0px;
}

.nav-tabs > li > a {
    padding: 3px;
    color: #555;
}

.nav-tabs > li.active > a {
    background-color: lightgray
}

.nav-tabs {
    border-bottom: 0px;
}
