#messages {
    display:flex;
    justify-content:space-between;
    background:darkgray;
    height:34px;
    /* padding:3px; */
}

#filler {
    padding: 34px;
}

#buttons {
    justify-content:flex-end;
    padding-top:4px;
}

#messages p {
    margin:4px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 70%;
}

#messages #buttons {
    display:flex;
}

#messages #buttons input[type="button"] {
    height:100%;
}
