#menutree {
    padding: 0px;
}

#menutree li {
    list-style: none;          /* all list item li dots invisible */
    font-size:0.9rem;
}

#menutree input[type=button] {
    font-size:0.9rem;
}

li input[type=checkbox] {
    opacity: 0;             /* checkboxes invisible and use no space */
}                        /* display: none; is better but fails in ie8 */

li .menu_label {
    cursor: pointer;
}

li input[type=checkbox] ~ ol > li
{
    display: none;         /* prevents sublists below unchecked labels from displaying */
}

li input[type=checkbox]:checked ~ ol > li
{
    display: block;         /* display submenu on click */
}

li input[type=checkbox] ~ ol
{
    background: url(../images/right.png) 0px 0 no-repeat;
    margin: -1.25em 0 0 0;
    padding: 1.25em 0 0 1em;
 }

li input[type=checkbox]:checked ~ ol
{
 background: url(../images/down.png) 0px 0 no-repeat;
 }

input[type=button] {
    background: none;
    border-style: none;
}

input:focus + .menu_label, input[type=button]:focus {
    background: darkgray;
    outline-style: none;
    padding-right: 10000px;
    margin-right: -10000px;
}
